# Used as linter and formater arguments in pyinvoke
modules = ["repo_stats", "tasks", "tests"]

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "20.8b1"
isort = "*"
invoke = "*"
mypy = "*"
flake8-mypy = "*"
pytest = "*"
flake8 = "*"
toml = "*"
pylint = "*"

[packages]
fastapi = "*"
uvicorn = "*"
python-dotenv = "*"
gql = "==3.0.0a5"
aiohttp = "*"

[requires]
python_version = "3.8"

[scripts]
dev = "uvicorn repo_stats.main:app --reload"
lint = "inv lint"
reformat = "inv reformat"

[pipenv]
allow_prereleases = true
